.signup{
    max-width: 1500px;
    margin: 0 auto;
    background: linear-gradient(rgba(85, 22, 22, 0.5), rgba(85, 22, 22, 0.5)),
    url("../../assets/images/elephant.jpg")center/cover fixed no-repeat;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    mix-blend-mode: multiply;
}
.signup-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-wrap h2{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.signup-form label{
    font-weight: 300;
font-size: 18px;
line-height: 22px;
}
.signup-form input{
    width: 455px;
    height: 47px;
    border: 1px solid #000000;
}
.tclabel{
    font-weight: 500;
    font-size: 14px !important;
    line-height: 16px !important;
    margin-top: 0;
    padding-top: 5px;
}
.inp-half input{
    width: 202px
}
.signup-form input[type="checkbox"]{
    height: auto;
    width: auto;
}
.signup-form input::placeholder{
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    color: #000!important;
    text-align: left;
}
.showPassword {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    left: 360px;
    bottom: 35px
}
.showPassword:hover {
    cursor: pointer;
}

.signup-form small {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.signup-form button{
    padding: 15px 120px;
    background-color: #FF1717;
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    width:454px;;
    margin: 0 auto;
    border: none;
}
.form-wrap{
    background-color: #fff;
    padding: 20px;
}
.signup-txt{
    color: #fff;
    width: 435px;
}
.signup-txt p {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
}

.signup-txt span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.page-wrap{
    max-width: 90%;
    margin: 0 auto;
}
.form{
    margin-top: 30px;
    padding-top: 30px;
}
/* .fpass{
    margin-top: 0;
    padding-top: 0;
    margin-left: 250px;
    color: #000;
    text-align: right;
} */
.gosignup{
    text-align: center;
}
.gosignup h5{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.gsignup{
    color: #FF1717;
    text-transform: capitalize;
}
.link_terms,
.link_privacy{
    color: #FF1717;
    text-transform: capitalize;
    font-weight: bold;
}

.alert{
    color: white; 
    /* font-size: 12px; */
    text-align: center;
}

.alert-danger{
    background-color: red; 

}

.alert-success{
    background-color: green;
}
.danger{
    font-size: 12px;
    text-align: center;
    background-color: red; 
}

.success{
    background-color: green;
}




@media(max-width: 810px){

    .signup{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .signup-txt{
        display: none;
    }

    .signup-form{
        width: 100%;
    }

}


@media(max-width: 560px){

    .signup-form{
        width: 420px;
    }

    .signup-form input,
    .signup-form button{
        width: 400px;
    }

    .fpass{
        margin-left: 200px !important;
    }
}

@media(max-width: 488px){
    .signup-form{
        width: 300px;
    }

    .signup-form input,
    .signup-form button{
        width: 300px;
        white-space: nowrap;
    }
    .showPassword{
        display: none;
    }
    .fpass{
        margin-left: 9px !important;
    }
}

@media(max-width: 380px){
    .signup-form{
        width: 250px;
    }

    .signup-form input,
    .signup-form button{
        width: 100%;
        font-size: 15px !important;
        padding: 15px 12px;
    }

    .signup-form input::placeholder{
        font-size: 16px;
    }

    .showPassword{
        display: none;
    }
    .fpass{
        margin-left: 9px !important;
    }
}

@media(max-width: 330px){
    .signup-form{
        width: 220px;
    }
    .formHeader{
        white-space: nowrap;
    }
}