.tech {
    margin-top: 40px;
    margin-bottom: 40px
}

.tech h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-decoration: underline;
    color: #EE3039;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 30px 0 30px 30px;
}

.tech-top-left {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
        url("../../../assets/images/tech_1.jpg")center/cover no-repeat;
    height: 430px;
    width: 1084px;
    padding: 30px;
}

.tech-top-right {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
        url("../../../assets/images/widget_banner.png")top/cover no-repeat;
    width: 255px;
    padding: 30px;
    height: 318px;
}

.tech-bottom-left {
    width: 1084px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tech-top {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.tech-sq {
    width: 296px;
}

.tech-bottom {
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: relative;
    bottom: 50px;
}

.tech-crd-img {
    height: 277px;
    display: inline-block;
    border: 6px solid #FFFFFF;
    border-radius: 15px;
}
.tech-crd{
    border: none;
    box-shadow: none
}
.tech-crd-caption{
    margin-left: -1.25rem;
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px
}
.tch-anchor:hover{
    text-decoration: none;
    color: #EE3039;
}

@media screen and (max-width: 772px) {
    .tech {
        margin: 30px auto;
    }
}