.banner {
    font-family: 'Roboto', sans-serif;
}

.cnt-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
        url("../../assets/images/endsars.jpg")top/cover fixed no-repeat;
    color: #fff;
}

.cnt-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
        url("../../assets/images/Mambilla-Plateau.jpg")top/cover fixed no-repeat;
    color: #fff;
}
.car-p {
    font-size: 14px;
    line-height: 22px;
}
.cap-ancor {
    font-weight: 500;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    width: 310px
}

.cap-anco {
    background-color: #fff;
    color: #F83D3D;
    border: 1px solid black;
    position: relative;
    top: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.flex-container {
    padding-top: 180px;
}

.caro-capxn {
    z-index: 4!important;
}

.caro-capxn p {
    width: 70%;
    font-weight: 400!important;
    line-height: 28.13px;
    padding-top: 10px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.caro-capxn a {
    font-weight: 700;
    font-size: 30px;
    color: #F83D3D;
    line-height: 35.16px
}

.cnt-txt-wrap {
    position: relative;
    top: 30%;
    left: 5%;
    width: 84%;
}

.cnt-txt-wrap p {
    padding-top: 35px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21.09px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* carousel controller */
.carousel-control-next,
.carousel-control-prev {
    display: none
}

.carousel-caption {
    left: 5%;
}

@media screen and (min-width: 560px) {
    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 150px;
    }

    .caro-item {
        height: 450px;
    }

    .caro-item:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6))
    }

    .cnt-2{
        height: 200px;
        margin-top: 22px;
    }
    .cnt-1 {
        height: 228px;
    }

}

@media screen and (max-width: 560px) {

    .cnt-2,
    .cnt-1,
    .ct-rt {
        height: 250px;
    }
}

/*############## Tease section ###################*/
.teaser {
    background-color: #ccc;
    padding-top: 40px;
    padding-bottom: 30px;
}



.butn {
    background: #fff;
    color: #F83D3D;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.butn:hover {
    background: #F08080;
    color: #fff
}

.h-100 {
    transition: transform 2s ease;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
}

.h-100:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
}

.h-100:hover {
    transform: scale(0.8);
    cursor: pointer;
}

.ts-card-txt:hover {
    filter: brightness(1.5);
}

.ts-card-wrap {
    width: 293px;
    height: 334px;
    border: none !important;
}

.ts-overlay {
    padding-top: 200px;
}

.ts-card-txt {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    font-size: 11px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
}

@media screen and (max-width: 560px) {

    .ts-overlay {
        padding-top: 140px;
    }
}