/* img{
    width: 100%;
    height: 100%;
} */
.politics-wrap{
    font-family: 'Roboto', sans-serif;
}


.politics-wrap h3{
    text-decoration: underline;
    margin-left: 1.25rem;
    letter-spacing: 1.2px;
    font-weight: 500;
    font-family: "Roboto"sans-serif;
    font-size: 36px;
    font-style: normal;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #EE3039;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.politics-wrap{
    background-color: #f1f0f0;
}
.pol-news-card-wrap{
    max-width: 1440px;;
    margin: 0 auto;
}
.news-sec a{
    text-decoration: none;
    transition: transform 2s ease;
    height: 100%;
    width: 100%;
    color: #000;
    background-color:#D1D1D1
}
.news-sec a:hover{
    transform: scale(0.9);
    color: hsl(0, 100%, 64%);
    opacity: 0.8;
    transform: scale(0.8);
    cursor: pointer;
}
.news-crd{
    position: relative;
    background-color:#D1D1D1!important;
    border: none;
    box-shadow: 0 0 0 0;
    width: 272px;
}
.news-card-img{
    width: 272px;
    height: 198px;
}
.news-crd span{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #DC143C;
    color: #fff;
    display: inline-block;
    padding: 2px 7px 2px 3px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-transform: uppercase;
}
.news-card-caption{
    font-weight: 400;
    font-size: 1.15rem;
    margin-left: -1.25rem;
    color: #000000;
    line-height:28.13px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
@media screen and (max-width: 772px){
    .politics-wrap h3{
        text-align: center;
    }
    .news-crd {
        position: relative;
        background-color: #D1D1D1!important;
        border: none;
        width: 100%;
        }
    .news-card-img {
        width: 100%;
        height: 198px;
        }
}
.card {
    transition: 0.3s;
    background-color: inherit;
    border: none;
  }
 
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card a{
    color:#2b2929;
    text-decoration: none;
    padding:5px 15px;
    text-align: center;
    text-transform: capitalize;
}

.sec-2{
    position: relative;
}



.sec-2 img{
    height: 230px;
}


.premium_category_indicator{
    letter-spacing: normal;
    background-color: #DC143C;
    font-style: italic;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 1;
    font-size: 0.75rem;
    display: inline-block;
    padding: 7px 16px 6px 16px;
    border-radius: 2px;
    margin: 10px 0px 0px 0px;
    width: 90px;
    font-weight: 500;
    position: absolute;
    top: 8px;
    left: 16px;
}
