.top-nav{
    background: #4F4D4D;
    font-family: 'roboto', sans-serif;
    border-bottom: .8px solid #fff;
    height: 45px;
    padding-bottom: 7px;
    padding-top: 5px;
}
.name-sp{
    color: #fff;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
}
.top-nav p span:first-child{
    padding: 5px 5px 3px 5px;
    background-color: red;
    line-height: 13px;
}

.nav-sub-i a{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 400;
}
.nav-sub-i a i{
    padding-right: 5px;
}
.navbar a{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.fa-search{
    padding-left: 7px;
}
.nav-sub{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    background-color: red;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 6px 3px 5px;
    margin-top: 5px!important;
    font-weight: 400!important;
}
.nav-sub-tp{
    font-weight: 400!important;
}
.nav-sub:hover{
    text-decoration: none;
}
.top-nav p{
    font-size: 13px;
    padding: 10px;
    text-align: center;
}
.soc-nav i{
    color: #fff;
    font-size: 20px;
    width: 23px;
    height: 22px;
    display: inline-block;
}

.soc-nav{
    list-style-type: none;
    text-align: center;
}
.soc-nav li{
    display: inline-block;
    padding: 10px;
}
@media screen and (min-width:560px){
    .top-nav{
        display: flex;
        justify-content: space-between;
    }
}

/* ############ MAIN HEADER ################ */
.t-h-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid grey;
}
@media screen and (max-width: 560px){
    .soc-nav{
        display: none;
    }
}