.footer-wrapper{
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 30px;
}
.ft-crd{
  border: none;
  background-color: inherit;
}
.app-store{
  width: auto;
  border-radius: 10px;
  height: 62px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;

}
.app-store a img{
  width: 150px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

footer a,
footer i,
footer .ps_p,
footer p{
  color: white;
  text-transform: capitalize;
}
footer .fab{
  font-weight: bold;
}
footer{
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
}
footer h3:not(.ps_p){
  color: white;
  text-transform: uppercase;
  background-color: #FF0606;
  text-align: center;
  height: 28px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 900;
  padding-top: 6px;
  align-self: flex-start;
}
.ps_p {
  font-size: 18px;
  line-height: 22px;
}
footer ul{
  list-style-type: none;
} 
footer ul li a{
  text-decoration: none;
}
footer ul li:hover{
  border-top: .8px solid lightblue;
  border-bottom: .8px solid lightblue;
  padding: 2px 2px 0;
  display: inline-block;
}
footer ul li a:hover{
  text-decoration: none;
  color: wheat
}
footer small{
  color: #fff;
  font-size: 20px;
  text-align: center
}
.ft-hd-1 {
  width: 77px;
}
.ft-hd-2,
.ft-hd-3{
  width: 106px;
}
footer ul li,
footer p{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

