/* @font-face {
    font-family: "Averta";
    src: url("../fonts/Averta-Thin.woff") format("woff"),
         url("../fonts/Averta-Thin.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Averta";
    src: url("../fonts/Averta.woff") format("woff"),
         url("../fonts/Averta.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Averta";
    src: url("../fonts/Averta-Semibold.woff") format("woff"),
         url("../fonts/Averta-Semibold.otf") format("opentype");
    font-weight: 600;
} */


.footer-wrapper{
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 30px;
}
.ft-crd{
  border: none;
  background-color: inherit;
}
.app-store{
  background-color: #fff;
  width: auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid green;
}
.app-store a img{
  width: 120px;
  margin: 5px;
}

footer a,
footer i,
footer .ps_p,
footer p{
  color: white;
  text-transform: capitalize;
}
footer h3:not(.ps_p){
  color: white;
  text-transform: capitalize;
  padding: 5px;
  background-color: red;
  display: inline-block;
}
footer ul{
  list-style-type: none;
} 
footer ul li a{
  text-decoration: none;
}
footer ul li:hover{
  border-top: .8px solid lightblue;
  border-bottom: .8px solid lightblue;
  padding: 3px 5px 0;
  display: inline-block;
}
footer ul li a:hover{
  text-decoration: none;
  color: wheat
}
footer small{
  color: #fff;
  font-size: 20px;
  text-align: center
}
