.subscribe-container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.subscribe-header {
    color: "i will be right back"
}
.cur_crd-wrap {
    position: relative;
}
.sub-banner {
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 263px;
    width: 100%;
    /* margin-bottom: 10px; */
    /* position: absolute;
    z-index: 1; */
}
.sub-banner p {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    padding-top: 20px;
}

.pay_plan-wrap {
    background: linear-gradient(rgba(85, 22, 22, 0.5), rgba(85, 22, 22, 0.5)),
        url("../../assets/images/elephant.jpg")center/cover fixed no-repeat;
    padding: 20px;
    max-width: 1100;
    margin: 0 auto;
    mix-blend-mode: multiply;
    height: 785px
    /* position: absolute;
    top: 70%;
    z-index: 100;
    transform: translateX(50, 50); */
}

.pay_plan-wrap h2 {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}

.sub-curency {
    width: 235px;
    height: 33px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, -50%);
}

.sub-curency_ngn,
.sub-curency_usd {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.sub-curency_ngn {
    color: #018651;
    padding-left: 15px;
}

.sub-curency_usd {
    padding-right: 15px;
    color: #B22234;
}

.sub-crd-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.sub-crd-txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.sub-amount {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FF1717;
    text-align: center;
}

.sub-signup {
    padding: 10px 35px;
    border-radius: 10px;
    background: #FF1717;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.signup-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trial{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 7px 20px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FF1717;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}
.card-flex{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sub-crd{
    width: 275px;
    height: 267px;
}