.policy{
    max-width: 1200;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}
.policy h3{
    text-transform: capitalize;
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;
    text-decoration-color: #FF0000;
    text-align: center;
    font-weight: 700;
}
.policy ol{
    width: 92%;
    margin: 0 auto;
}
.policy li p, 
.policy ul li,
.ol-text-format li{
    font-size: 14px;
    line-height: 18.44px;
    font-weight: 400;
}
.policy span{
    font-size: 20px;
    line-height: 23.44px;
    font-weight: 500;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 15px;
}
.ul-rm ul li, .pol-list-rm{
    list-style-type: none;
}
ol > li::marker {
    font-weight: bold;
  }