.africa{
    max-width: 1520px!important;
    margin: 0 auto 100px auto;
}
.af-bg-red{
    background-color: #ff0000;
    padding: 30px auto;
    font-family: 'Roboto', sans-serif;
}
.da_img{
    width: 280px;
    height: 237px;
}
.af-bg-red a:hover{
    text-decoration: none;
}
.africa h3{
    padding-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #EE3039;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.af-col-tp{
    background-color:#fff;
    position: relative;
    top: 50px;
}
.af-col-bt{
    position: relative;
    top: 50px; 
}
.cal_3{
    position: relative;
    top: 50px;
}
.obudu_4{
    position: relative;
    top: 55px;
}
.af-col-tp-bg p{
    color:#fff;
    font-style: italic;
    font-weight: 500;
    font-size: 96px;
    line-height: 112px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 55%;
    left: 2%
}
.af-col-tp-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../../../assets/images/Mambilla-Plateau.jpg")center/cover fixed no-repeat;
    height: 750px;
    width:100%;
    margin-top: 10px;
    padding-bottom: 10px;
}

.af-card-txt{
    font-size: 50px;
    font-weight: bold;
}
.af-card-overl{
    top: 200px;
}
.af-crd-anc-tp>div,
.af-crd-anc-bt>div{
    padding: 8px;
    background-color:#fff;
    border: 6px solid #fff;
}
.af-crd-anc-tp span{
color: #FAFF00;
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 16px;
}
.af-crd-anc-tp p{
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.af-sm-news p{
    width: 90%;  
}
.af-sm-news{
    justify-content: flex-end;
}
.af-sm-news .my-2{
    width: 280px;
}
.af-crd-lst{
    background-color: #fff;
    padding: 10px;
}
.af-crd-lst span{
font-style: italic;
color: red;
}
.af-crd-anc-bt p{
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

@media screen and (max-width: 560px){
    .africa h3{
        padding-left: 0;
        text-align: center;
    } 
    .af-card-overl{
        top: 20px;
    }
    .af-col-tp-bg p{
        padding-left: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 46px;
    }
}