.cookie-container{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 150px;
    padding-bottom: 30px;
}
.cookie-txt, h3{
    max-width: 92%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;

}
.cookie-container h3{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #FF0000;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
    color: #000
}
.cookie-container p{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000
}