.Navigation {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    position:fixed;
    width: 100%;
    z-index: 10;
  }
  .activeLink {
    color: #fff!important;
  }

  .Navigation .nav-item .nav-link:hover{
    color: #e7332b;
  }

  .Navigation header{
   background:rgba(242, 235, 233, 0.6);
   transition: all 0.5s;
   width: 100%;
   height: 102px;
 }
 .Navigation header .h-btn{
   background: #e7332b;
   border-radius: 0;
 }
 .logo{
     width: 78px;
     height: 78px;
 }
 .logo img{
    width: 100%;
    height: 100%;
}
 .Navigation .container {
    max-width: 1440px !important;
    overflow: hidden !important;
}

.Navigation header {
    background: #000;
    transition: all 0.5s;
    color:#fff!important
}


.Navigation  header .h-btn {
    background: #E7332B;
    border-radius: 0;
}

@media screen and (min-width: 1000px) {
    .Navigation  header .h-btn {
        margin-left: 130px;
    }
}

.nav-link{
    color: #fff!important
}
.nav-item{
    border-right: 1px solid #fff;
    padding: 0;
}
.navbar-nav li:last-child{
    border-right: none;
}


.Navigation header {
    transition: all 0.5s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Navigation  header .h-btn {
    background: #E7332B;
    border-radius: 0;
}

@media screen and (min-width: 1000px) {
    .Navigation  header .h-btn {
        margin-left: 100px;
    }
}

@media screen and (min-width: 776px) {
    .nav-item {
        padding-right: 12px;
    }
    .nav-sub-i .nav-item{
        padding-right: 0;
    }
}
.Navigation .custom-btn {
    background-color: #E7332B;
    padding: 8px 20px !important;
    color: #ffff !important;
    display: inline-block;

}
.nav-mn li{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto' sans-serif;
}
.nav-sub-i li{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    font-family: 'Roboto' sans-serif;
}
@media screen and (max-width: 560px) {
    .Navigation header {
        color: #000!important
    }
    .nav-item{
        border-right: none
    }
}
.hd-bd{
    border-right: none;
}

/* logo animation */
@media (prefers-reduced-motion: no-preference) {
  .logo{
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}