*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #BDBCBC;
}
.abt-tp-nav{
    width: 100%;
}
.about-header .navigation{
    background: #E90A0A;
    height: 60px;
}
.bg-header{
    background: linear-gradient(rgba(22, 7, 233, 0.541), rgba(51, 65, 126, 0.61)),
    url("../../assets/images/discoverbanner.jpg")top/cover fixed no-repeat;
color: #fff;
height: 120px;
width: 100%;
margin: 0 auto;
padding: 0;
text-align: center;
}
.bg-header p{
    font-weight: bold;
font-size: 36px;
line-height: 42px;
padding-top: 50px;
}

.abt-txt p, 
.txt-btm p{
    font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: justify;
}
.txt-btm{
    padding: 20px 30px;
}

.about-crd{
    border: 1px solid red;
}
.about-right{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/trump1.jpg")center/cover no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 30%;
    height: 755px;
    border-radius: 30px;
    padding: 30px;
}
.abt-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-left{
    width: 63%;
    flex: 1 1 .5px;
    padding: 30px;
}
.s-card{
    width: 294px;
    height: 330px;
}
