.subscription-wrap {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 0px 17px;
}

.sb-cntrl {
    width: 60px;
    height: 41px;
    background: rgba(238, 48, 57, 0.36);
    border-radius: 19px;
    text-align: center;
    color: #fff;
}

input::placeholder{
    color:#fff!important;
    font-size: 18px;
    line-height: 28px;
}

.sb-cntrl:hover {
    cursor: alias;
}
.sub-inpt-cont .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 69%;
    float: right;
}

.sub-btn {
    background-color: #000;
    border: 1px solid #000;
    width: 170px;
    height: 41px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.sub-btn:hover {
    background-color: #F83D3D;
    border: 1px solid #F83D3D;

}

.sub-logo img {
    width: 183.66px !important;
    height: 170.92px;
    transform: rotate(33.83deg);
}
.sub-inpt-cont{
    align-self: right;
}
.form-control {
    font-size: 16px;
}
@media screen and (max-width: 772px){
    .subscription-wrap {
        flex-direction: column;
        flex: 1 0 auto;
        max-width: 95%;
        margin: 0 auto;
    }
    .sub-inpt-cont .input-group {
        width: 107% !important;
    }

    .sb-cntrl {
        width: auto;
        height: auto;
    }
    .sub-btn {
        width: auto;
        height: auto;
    }
    .sub-logo img {
        width: 200.66px !important;
        height: 150.66px;
        /* text-align: center; */
        margin: 0 auto;
        display: block;

    }
}
