.entertainment{
    margin-top: 60px;
    margin-bottom: 40px;
    font-family:  'Roboto', sans-serif;
}
.entertainment h3{
    margin: 40px auto 30px auto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #EE3039;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 20px !important;
}
.mt-wrap{
    height: 100%;
    border-radius: 0;
    border: none;
}

.butn{
    background: #fff;
    color: #F08080;
}
.butn:hover{
    background: #F08080;
    color: #fff
}
.overl{
    position: absolute;
    top: 50%;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ent-pos-tp{
    position: relative;
    top: -35px;
    padding-bottom: 70px;
    padding-left: 15px!important;
    padding-right: 15px!important;
    max-width: 1358px!important;
    margin:0 auto;
    height: 640px;
}
.ent-chng-pos{
    position: relative;
    background-color: #4E4A4A;
    margin-bottom: 40px;
}
.mt-wrap a{
    text-decoration: none;
    padding: 10px auto;
    color: #000;
    display: inline-block;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 21px;
    padding-top: 20px;
}
.mt-wrap a:hover{
    text-decoration: none;
    color: #EE3039
}
.mg-sm-scr{
    height: 330px;
}
.mg-sm-scr, 
.ent-pos-tp{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.ent-h-100{
    height: 100%;
}

@media screen and (max-width: 1000px){ 
    .entertainment{
        /* this fixed the footer overlay with entertainment section */
        margin-bottom: 800px;
    }
}

@media screen and (max-width: 772px){
    .h-100 a{
        padding: 20px auto!important;
        text-decoration: none;
    }
    .mt-wrap a{
        padding: 20px 0!important;
        position: relative;
        top: 3;
        bottom: 3%;
    }
    .mg-sm-scr{
        margin: 20px auto;
         /* border: 4px solid; */
         /* padding: 20px 0; */
    }
    .ent-pos-tp {
        position: static;
        padding-bottom: 30px;
        margin: 20px 30px;
        height: auto;
    }
    .mb-2, .my-2 {
        margin-bottom: 0rem!important;
    }
    .mt-2, .my-2 {
        margin-top: 0rem!important;
    }
    .entertainment{
        margin-top: 60px;
        margin-bottom: 40px;
        font-family:  'Roboto', sans-serif;
        border-bottom: 17px solid #4E4A4A;
    }
}


