.categ-wrap{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 180px;
    padding-bottom: 30px
}
.categ-wrap h3{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #020000;
    text-align: left;
    text-transform: capitalize;
}
.categ-banner{
    display: flex;
    justify-content: space-between;
    align-items: top;
    /* height: 520px; */
}
.categ-banner-main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
        url("../../assets/images/calabar-carnival-3.jpg")100%/cover no-repeat;
    /* color: #fff; */
    height: 507px;
    width: 70%;
    /* flex-grow: 3; */
}
.categ-ad{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
        url("../../assets/images/ads1.jpg")center/cover no-repeat;
    /* color: #fff; */
    height: 465px;
    width: 25%;
}
.categ-text p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}