.categ-wrap{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 180px;
    padding-bottom: 30px
}
.categ-wrap h3{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #020000;
    text-align: left;
    margin-left: 0.1rem;
    text-transform: capitalize;
}
.categ-banner{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.categ-banner-main {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15)),
        url("../../assets/images/discoverbanner.jpg")100%/cover no-repeat;
    height: 507px;
    width: 70%;
}
.categ-ad{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01)),
        url("../../assets/images/ads1.jpg")center/cover no-repeat;
    height: 465px;
    width: 25%;
}
.categ-txt{
    padding-top: 20px;
}
.categ-txt p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
}