.sport{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    margin: 0 auto;
}
.sport-card-wrap{
    max-width: 1500px;
    margin: 0 auto;
}
.sport h3{
    text-decoration: underline;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #EE3039;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 1.5rem;
}
.sport-crd{
    background-color: #fff;
    box-shadow: 0;
    border: 0;
    border-radius: 0 !important;
}
.sprt-txt{
    padding-left: 0!important;

}
.sport-sec a{
    text-decoration: none;
    transition: transform 2s ease;
    height: 100%;
    max-width: 100%;
    color: #050505;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
}
.sprt-crd-img{
    width: 100%;
    height: 277px;  
}
.sport-sec a:hover{
    transform: scale(0.9);
    color: red;
    opacity: 0.8;
    transform: scale(0.8);
    cursor: pointer;
}
