

.logo-container {
  background-color: white;
  padding: 20px 30px;
}
.discover-container {
  background-color: #000!important;
  height: 360;
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.logo-container > img {
  width: 73px;
}

.discover_nav {
  background-color: black;
}

.discover_nav > ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 10px;
}


.discover .discover_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-items {
  list-style: none;
  border-right: 1px white solid;
  font-size: 18px;
  display: inline-block;
  padding: 0;
  justify-self: left;
  padding-bottom: 15px;
  margin-bottom: 15px;
  height: 25px;
}

#last {
  border-right: none;
}

.nav-links.discover {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.discover_header > h1 {
  text-align: center;
}

.africa-auth {
  text-align: right;
  padding: 0px 40px 40px 40px !important;
  margin-right: 55px;
}

.africa-auth > a {
  margin: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
}

#subscribe {
  background-color: #ff0000;
  /* padding: 5px 10px; */
  font-weight: 600;
  width: 163px;
  text-align: center;
  height: 33px;
}

@media screen and (max-width: 540px) {
  .discover-container h1{
    font-size: 22px;
    text-align: center;
  }
}
