
.hl-tp-cont{
    padding-top: 40px;
    padding-bottom: 40px;
}
.hd-img{
    width: 374px;
    height: 268px;
    display: inline-block;
    margin: auto auto auto 30px;
    border-radius: 20px!important;
}
.news-bg-wrapper{
    background-color: #fff;
    padding-top: 15px;
    border-top: 1px solid red;
    position: relative;
    left: -5%;
    padding-right: 15px;
}
.bg-var-blue{
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f2fdff;
}
.news-hd{
    display: inline-block;
    padding: 15px;
    width: 100%;
}
.news-hd:hover{
    text-decoration: none;
}
.news-hd h3{
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: flex-end;
    color: #020000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.news-hd p{
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding-left: 20px
}
.bt-red{
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px
}
.ns-art-wrap{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ns-txt,
.hd-img-wrap{
    padding-top: 15px;
    padding-bottom: 15px;
}
.ns-txt{
    padding-top: 30px;
    padding-right: 0;
}
.ns-art-wrap h2{
    color: #fff;
    background: #ff1717;
    width: 165px;
    height: 33px;
    margin: 20px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Roboto',sans-serif;
    padding-top: 3px;
}
.ns-art-wrap article{
    padding: 2px 20px;
}
.ns-art-wrap article a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}
.ns-art-wrap article a:hover{
    text-decoration: none;
    color: orangered
}
.ns-art-wrap .ads{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 200px;
    margin-top: 30px;
    font-size: 17px;
    color: red;
    padding: 100px auto!important;
}
.ns-art-wrap .ads>span{
    color: red;
    display: inline-block;
    padding-top: 60px;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Roboto' sans-serif;
}
.news_article{
    margin-bottom: 15px;
}
.news_article{
    line-height: 1.1!important;
}
@media screen and (max-width:772px){
    .hd-img{
        max-width: 300px!important;
        margin: 0 0 0 10px;
        height: 200px;
    }
    .news-bg-wrapper{
        left: 0;
        padding-right: 0;
    }
    .politics-wrap h3{
        font-size: 20px;
        text-align: center;
        letter-spacing: 0;
    }
    .ns-art-wrap h2{
        font-size: 18px;
        line-height: 24.13px;
    }
    .news-hd h3{
        font-size: 25px;
        line-height: 32px;
        text-align: justify;
    }
    .news-hd p{
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }

}
