.login{
    max-width: 1500px!important;
    margin: 0 auto;
    background: linear-gradient(rgba(85, 22, 22, 0.5), rgba(85, 22, 22, 0.5)),
    url("../../assets/images/elephant.jpg")center/cover fixed no-repeat;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}
.login-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-wrap h2{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.form label{
    font-weight: 500;
font-size: 18px;
line-height: 22px;
}
.login-form input{
    width: 442px;
    height: 74px;
    border: 1px solid #000000;
}
.login-form input::placeholder{
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    color: #000!important;
}
.showPassword {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    left: 360px;
    bottom: 50px
}
.showPassword:hover {
    cursor: pointer;
}

.login-form small {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.login-form button{
    padding: 15px 120px;
    background-color: #FF1717;
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    width:442px;;
    margin: 0 auto;
    border: none;
}
.form-wrap{
    background-color: #fff;
    padding: 20px;
}
.login-txt{
    color: #fff;
    width: 315px;
}
.login-txt p {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
}

.login-txt span {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}
.page-wrap{
    max-width: 80%;
    margin: 0 auto;
}
.form{
    margin-top: 30px;
    padding-top: 30px;
}
.fpass{
    margin-top: 0;
    padding-top: 0;
    margin-left: 250px;
    color: #000;
    text-align: right;
}
.gosignup{
    text-align: center;
}
.gosignup h5{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.gsignup{
    color: #FF1717;
    text-transform: capitalize;
}