* {
  margin: 0;
  padding: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  /* width: 100vw; */
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden !important;
}

/* @media screen and (min-width: 1440px) {
  .App {
    margin: 0 auto;
  }
} */