*{
  margin: 0;
  padding: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.App{
  max-width: 1440px;
  margin: 0 auto;
}

/* .top-nav{
  background-color: #5a5a5a;
}
.top-nav p span:first-child{
  background-color: red;
  color: #fff;
}
.top-nav p{
  font-size: 13px;
}
NavLink i{
  color: #fff;
  font-size: 15px;
}
@media screen and (min-width:560px){
  Fragment{
      display: flex;
      justify-content: space-between;
  }
}
.App{
  max-width: 1400px;
  margin: 0 auto;
  border: 1px solid red;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
