.sprt-comp-card{
    width: 300px;
    height: 300px;
    margin: 10px;
}
.sprt-crd-mp{
    width: 100%;
}
.sprt-itm-wrap{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
}